:root {
    --orange: hsl(22,89%,52%);
    --orange-Lt: hsl(22,100%,69%);
    --blue: hsl(220,50%,17%);
    --blue-Lt: hsl(221,23%,58%);
    --gray-Lt: hsl(198,28%,93%)
    --white: hsl(0,0%,100%);




}